body {
    margin: 0;
}

#entirePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.entire-page-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}